{% if page.extensions.multisafepay.tokenization_enabled and page.extensions.multisafepay.is_guest == false and page.extensions.multisafepay.tokens|length > 0 %}

    {% set formattedName = payment.translated.name|lower %}
    {% set formattedName = formattedName|replace({' ': '_'}) %}

    {% set haveTokens = false %}
    {% if formattedName == 'american_express' %}
        {% set code = 'AMEX' %}
    {% elseif formattedName == 'mastercard' %}
        {% set code = 'MASTERCARD' %}
    {% elseif formattedName == 'visa' %}
        {% set code = 'VISA' %}
    {% endif %}

    {% for token in page.extensions.multisafepay.tokens %}
        {% if code == token.code %}
            {% set haveTokens = true %}
        {% endif %}
    {% endfor %}

    {% if haveTokens == true %}

        <select {% if page.extensions.multisafepay.shopware_compare %} form="confirmPaymentForm" {% endif %} name="token_{{ formattedName }}" id="selectToken" class="custom-select"
                style="margin-top: -2rem; margin-bottom: 1rem;max-width: 300px;margin-left: 1.5rem;">
            <option value="">{{ "msp-tokenization.useDifferentCreditCard"|trans }}</option>
            {% for token in page.extensions.multisafepay.tokens %}
                {% if code == token.code %}
                    <option {% if page.extensions.multisafepay.active_token == token.token %} selected="selected" {% endif %}
                        value="{{ token.token }}">{{ token.display }}</option>
                {% endif %}
            {% endfor %}

        </select>
        <input type="hidden" form="confirmOrderForm" name="active_token"
               value="{{ page.extensions.multisafepay.active_token }}">
    {% endif %}
{% endif %}
{% if page.extensions.multisafepay.shopware_compare == false and page.extensions.multisafepay.tokenization_enabled and page.extensions.multisafepay.active_token == null and page.extensions.multisafepay.is_guest == false %}
    <span class="custom-control custom-checkbox" style="margin-bottom: 1rem">
        <input type="checkbox" class="custom-control-input" id="saveTokenChange" {% if page.extensions.multisafepay.tokenization_checked == 1 %} checked {% endif %}
               name="saveTokenChange"/>
        <input type="hidden" form="confirmOrderForm" name="saveToken" value="{{ page.extensions.multisafepay.tokenization_checked }}">

        <label for="saveTokenChange" class="custom-control-label">
            {{ "msp-tokenization.saveYourCreditCard"|trans }}.
        </label>
    </span>
{% endif %}
